
* {
  font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-image: url("urban-landscape-small.jpg");
    background-repeat: no-repeat; 
    background-position: right center;
    height: 200px;
    background-size: cover;
}

body {
    margin: 0;
}

#photo {
    position: sticky;
    -webkit-position: sticky;
    border: 2px solid #bbbaba;
    padding: 5px;
    margin-left: 20px;
    border-radius: 50%;
    top: 20px;
    display: inline-block;
    margin-top: 20px;
}

#image {
    display: block;
    border-radius: 50%;
}

#links {
    position: sticky;
    -webkit-position: sticky;
    top: 474px;
    padding: 15px;
    width: 200px;
    left: 20px;
    font-size: 14px;
    top: 260px;
}

.link { 
    padding-bottom: 14px;
}

a {
    color: rgba(67, 64, 64, 0.9);
}

#page {
    margin-left: 280px;
    margin-top: -320px;
    max-width: 500px;
    text-align: justify;
    padding-right: 20px;
}

p {
    color:rgba(67, 64, 64, 0.9);
    line-height: 1.35em;
}

h1 {
    color: rgba(67, 64, 64, 0.9);
    margin: 0;
}
#header {
}
